Repository agile-explorations/democracy-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings 0

chore: remove daily-digest pipeline (superseded by narrative system)
  DEPLOYMENT.md
  __tests__/lib/ai/prompts/daily-digest.test.ts
  knip.config.ts
  lib/ai/prompts/daily-digest.ts
  lib/cron/daily-digest.ts
  lib/services/daily-digest-service.ts
  pages/api/ai/daily-digest.ts
  render.yaml
Due: prettier --check, eslint --max-warnings 0

feat: add weekly-legiscan cron job on Render
  render.yaml
Due: prettier --check

fix: run weekly-legiscan at 01:00 UTC (3h before weekly-dump)
  render.yaml
Due: prettier --check

fix: move cron jobs under services with type: cron
  render.yaml
Due: prettier --check

fix: add GOVINFO_API_KEY to weekly-legiscan cron in render.yaml
  render.yaml
Due: prettier --check

feat: improve narrative quality with evidence-proportional prompts
  .eslintrc.json
  __tests__/lib/services/narrative-prompts.test.ts
  lib/services/narrative-format-helpers.ts
  lib/services/narrative-prompts.ts
  lib/services/narrative-queries.ts
  lib/types/narrative.ts
Due: prettier --check, eslint --max-warnings 0

fix: export new narrative types from barrel and format example docs
  docs/internal/narrative-examples/narrative-confirmedconcern.md
  docs/internal/narrative-examples/narrative-divergent.md
  docs/internal/narrative-examples/narrative-elevated.md
  lib/types/index.ts
Due: prettier --check, eslint --max-warnings 0

feat: improve weekly/term summary prompts with synthesis and compression guidelines
  __tests__/lib/services/narrative-prompts.test.ts
  docs/internal/narrative-examples/narrative-confirmedconcern-v2.md
  docs/internal/narrative-examples/narrative-divergent-v2.md
  docs/internal/narrative-examples/narrative-elevated-v2.md
  docs/internal/narrative-examples/narrative-full-docs-v2.md
  docs/internal/narrative-examples/narrative-term-summary-v2.md
  docs/internal/narrative-examples/narrative-weekly-summary-v2.md
  lib/services/narrative-prompts.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R-NAR2 retrospective — narrative quality & context enrichment
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

feat: enhance research pipeline with corpus stats, P2 integration, and adaptive thresholds
  __tests__/lib/services/research-prompts.test.ts
  components/search/ResearchResults.tsx
  components/search/types.ts
  docs/internal/narrative-examples/research-example-v2.md
  docs/internal/narrative-examples/research-example.md
  lib/services/research-prompts.ts
  lib/services/research-synthesis-service.ts
  lib/services/search-research-queries.ts
  lib/services/search-service.ts
  pages/api/search/index.ts
  pages/search.tsx
Due: prettier --check, eslint --max-warnings 0

fix: print final enrichment progress count after loop completes
  lib/cron/enrich-layer-scores.ts
Due: prettier --check, eslint --max-warnings 0

feat: SEO foundation — robots.txt, sitemap, slug mapping, SEOHead component
  .env.example
  components/landing/CategoryTable.tsx
  components/layout/SideNav.tsx
  components/overview/StatusTimeline.tsx
  components/shared/SEOHead.tsx
  docs/PROJECT_KNOWLEDGE.md
  lib/data/category-slugs.ts
  next.config.js
  pages/api/sitemap.xml.ts
  pages/category/[key]/index.tsx
  pages/index.tsx
  pages/search.tsx
  pages/system/architecture.tsx
  pages/system/health.tsx
  pages/system/methodology.tsx
  public/robots.txt
  render.yaml
Due: prettier --check, eslint --max-warnings 0

feat: SSR narrative pages, Playwright E2E tests, sitemap fix
  e2e/seo.spec.ts
  lib/hooks/useLandingNarratives.ts
  lib/services/ssr-narrative-data.ts
  next.config.js
  package.json
  pages/api/sitemap.xml.ts
  pages/category/[key]/index.tsx
  pages/category/[key]/week/[date].tsx
  pages/weekly/[date].tsx
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --max-warnings 0

chore: gitignore Playwright test-results directory
  .gitignore
Due: none

fix: exclude e2e/ directory from Vitest test discovery
  vitest.config.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R-SEARCH1, R-SEO1, R-SEO2 retrospectives
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

feat: internal linking, JSON-LD structured data, OG image, search nav style
  .eslintrc.json
  components/layout/SideNav.tsx
  components/shared/JsonLd.tsx
  components/shared/SEOHead.tsx
  docs/PROJECT_KNOWLEDGE.md
  e2e/seo.spec.ts
  lib/services/ssr-narrative-data.ts
  pages/category/[key]/index.tsx
  pages/category/[key]/week/[date].tsx
  pages/index.tsx
  pages/weekly/[date].tsx
  public/og-default.png
Due: prettier --check, eslint --max-warnings 0

feat: narrative prompt improvements — spec compliance, 3-pass safety net, validation script
  .eslintrc.json
  CLAUDE.md
  __tests__/lib/services/narrative-prompts.test.ts
  docs/internal/NARRATIVE_GENERATION_SPEC.md
  lib/services/narrative-format-helpers.ts
  lib/services/narrative-prompts.ts
  package.json
  scripts/validate-narratives.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R-NAR3 retrospective — narrative prompt compliance
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

fix: normalize fetch_log naming, add narrative data completeness guard
  CLAUDE.md
  __tests__/lib/services/fetch-log-store.test.ts
  docs/PROJECT_KNOWLEDGE.md
  lib/services/fetch-log-store.ts
  lib/services/narrative-pipeline.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R-DQ1 retrospective — data quality safeguards
  docs/DECISIONS.md
  docs/ROADMAP.md
Due: prettier --check

fix: label convergence chart y-axis with status names, add info tooltip
  components/category/CategoryStatusChart.tsx
  components/category/RangeSummaryPanel.tsx
  pages/category/[key]/index.tsx
Due: prettier --check, eslint --max-warnings 0

fix: make brush date labels visible, add years to range labels
  components/category/CategoryStatusChart.tsx
  components/overview/SynchronyChart.tsx
Due: prettier --check, eslint --max-warnings 0

chore: move snapshot from daily to weekly, reorder cron pipeline
  CLAUDE.md
  docs/ROADMAP.md
  render.yaml
Due: prettier --check

docs: Release 1 implementation plan — detection quality & platform hardening
  docs/internal/RELEASE_1_IMPLEMENTATION_PLAN.md
Due: prettier --check

feat: expand content enrichment to all FR types + add DOJ full-body backfill
  .eslintrc.json
  CLAUDE.md
  __tests__/lib/services/doj-fetcher.test.ts
  lib/cron/backfill-content.ts
  lib/services/doj-fetcher.ts
Due: prettier --check, eslint --max-warnings 0

feat: tiered narrative generation — single-pass for Elevated, 3-pass for Divergent/ConfirmedConcern
  lib/services/narrative-generation-service.ts
  lib/services/narrative-multipass.ts
  lib/services/narrative-pipeline.ts
  scripts/validate-narratives.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R1-P0 retrospective — content enrichment + tiered narratives
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

feat: per-category L1 thresholds + event retrospective harness
  CLAUDE.md
  __tests__/lib/methodology/scoring-config-thresholds.test.ts
  __tests__/lib/services/convergence-synthesis.test.ts
  __tests__/lib/validation/retrospective.test.ts
  lib/cron/enrich-layer-scores.ts
  lib/cron/l1-distributions.ts
  lib/cron/run-retrospective.ts
  lib/methodology/scoring-config.ts
  lib/services/convergence-synthesis.ts
  lib/services/event-validation-checks.ts
  lib/services/layer-scoring.ts
  lib/services/layer2-summary.ts
  lib/validation/retrospective.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

feat: set per-category L1 thresholds from Biden 2022 distributions
  lib/methodology/scoring-config.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R1-A2A3 retrospective — per-category L1 thresholds + event retrospective
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

fix: preserve DATABASE_URL across loadEnvConfig + improve l1:distributions NC-3 display
  FUTURE_ROADMAP.md
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
  docs/internal/CONTENT_ENRICHMENT_REGRESSION_ANALYSIS.md
  lib/cron/l1-distributions.ts
  lib/cron/run-backtest.ts
  lib/cron/validate-data.ts
  lib/cron/validate-detection.ts
  lib/cron/validate-ingest.ts
Due: prettier --check, eslint --max-warnings 0

feat: P1 calibration for 5 categories, position lookup, backtest metric redesign
  __tests__/lib/validation/historical-backtest.test.ts
  docs/PROJECT_KNOWLEDGE.md
  lib/ai/prompts/layer2-pass1.ts
  lib/cron/backfill-opinions.ts
  lib/cron/run-backtest.ts
  lib/data/categories.ts
  lib/validation/historical-backtest.ts
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R1-CAL2 retrospective — P1 calibration + backtest redesign
  docs/DECISIONS.md
  docs/ROADMAP.md
Due: prettier --check

fix: resolve weekly cron job failures (LegiScan OOM + dump upload)
  lib/services/legiscan-fetcher.ts
  render.yaml
  scripts/weekly-dump.sh
Due: prettier --check, eslint --max-warnings 0

docs: Sprint R1-CRON retrospective — cron job fixes
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

fix: snapshot cron fails fast on missing API keys
  lib/cron/snapshot.ts
Due: prettier --check, eslint --max-warnings 0

fix: set weekly-dump cron to standard plan in render.yaml
  render.yaml
Due: prettier --check

fix: weekly-dump.sh handles failed delete → create cascade
  scripts/weekly-dump.sh
Due: none

fix: stream dump upload instead of buffering in memory
  scripts/weekly-dump.sh
Due: none

Path conditions:
  prettier --check: (any of: *.{ts,tsx}) or (any of: *.{js,json,md,css,yml,yaml})
  eslint --max-warnings 0: any of: *.{ts,tsx}
