Repository agile-explorations/democracy-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --check", "eslint"],
  "*.{js,json,md,css,yml,yaml}": ["prettier --check"]
}

chore: tighten ESLint with React and import ordering rules
  .eslintrc.json
  TODO.md
Due: prettier --check

chore: add GitHub issue templates for bugs, features, and new signals
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_signal.yml
  TODO.md
Due: prettier --check

fix: resolve 6 exhaustive-deps warnings and tighten lint-staged
  .lintstagedrc.json
  TODO.md
  components/ExecutivePowerDriftDashboard.tsx
  components/analysis/DailyDigest.tsx
  components/dashboard/CategoryCard.tsx
  components/dashboard/FeedBlock.tsx
  components/disclosure/Layer4.tsx
  components/disclosure/ProgressiveDisclosure.tsx
  components/intent/IntentSection.tsx
Due: prettier --check, eslint

chore: remove unnecessary `import React` and add lint rule
  .eslintrc.json
  TODO.md
  components/ExecutivePowerDriftDashboard.tsx
  components/analysis/DailyDigest.tsx
  components/analysis/DebateView.tsx
  components/analysis/LegalAnalysis.tsx
  components/analysis/TrendAlert.tsx
  components/dashboard/CategoryCard.tsx
  components/dashboard/CrossReference.tsx
  components/dashboard/DashboardFooter.tsx
  components/dashboard/DashboardHeader.tsx
  components/dashboard/EnhancedAssessment.tsx
  components/dashboard/FeedBlock.tsx
  components/dashboard/SourceBadge.tsx
  components/dashboard/StatusLegend.tsx
  components/dashboard/UptimeIndicator.tsx
  components/disclosure/Layer1.tsx
  components/disclosure/Layer2.tsx
  components/disclosure/Layer3.tsx
  components/disclosure/Layer4.tsx
  components/disclosure/ProgressiveDisclosure.tsx
  components/integration/CrossSectionBanner.tsx
  components/integration/SystemHealthOverview.tsx
  components/intent/GovernanceScoreBar.tsx
  components/intent/IntentOverview.tsx
  components/intent/IntentSection.tsx
  components/intent/PolicyAreaBreakdown.tsx
  components/intent/RecentStatements.tsx
  components/intent/RhetoricActionGap.tsx
  components/resilience/DataSourceStatus.tsx
  components/resilience/SuppressionAlert.tsx
  components/ui/Card.tsx
  components/ui/ConfidenceBar.tsx
  components/ui/CounterEvidence.tsx
  components/ui/EvidenceBalance.tsx
  components/ui/StatusPill.tsx
  pages/digest/[date].tsx
  pages/digest/index.tsx
Due: prettier --check, eslint

chore: add coverage ratchet, handler convention, and OpenGrep rules
  .github/workflows/ci.yml
  .opengrep/architecture.yml
  .opengrep/react.yml
  .opengrep/security.yml
  CLAUDE.md
  CONTRIBUTING.md
  TODO.md
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --check, eslint

feat: add dev mode toggle and clarify vocabulary across UI
  components/analysis/DailyDigest.tsx
  components/analysis/DebateView.tsx
  components/analysis/LegalAnalysis.tsx
  components/dashboard/DashboardFooter.tsx
  components/dashboard/EnhancedAssessment.tsx
  components/dashboard/StatusLegend.tsx
  components/integration/SystemHealthOverview.tsx
  components/intent/GovernanceScoreBar.tsx
  components/resilience/DataSourceStatus.tsx
  dev-demo.sh
  lib/hooks/useDevMode.ts
  pages/digest/[date].tsx
  pages/digest/index.tsx
Due: prettier --check, eslint

refactor: simplify category card UX — remove AI toggle, fix redundancies
  CLAUDE.md
  README.md
  TODO.md
  components/analysis/TrendAlert.tsx
  components/dashboard/CategoryCard.tsx
  components/disclosure/Layer2.tsx
  components/disclosure/Layer3.tsx
  components/disclosure/ProgressiveDisclosure.tsx
  components/intent/IntentSection.tsx
Due: prettier --check, eslint

feat: add RAG pipeline — extract RSS content, store documents, vector search
  __tests__/lib/parsers/feed-parser.test.ts
  drizzle/0005_rag_pipeline.sql
  drizzle/meta/_journal.json
  lib/ai/prompts/assessment.ts
  lib/cache/keys.ts
  lib/db/schema.ts
  lib/parsers/feed-parser.ts
  lib/services/ai-assessment-service.ts
  lib/services/document-embedder.ts
  lib/services/document-retriever.ts
  lib/services/document-store.ts
  pages/api/assess-status.ts
Due: prettier --check, eslint

fix: suppress @next/env type error in migrate script
  lib/db/migrate.ts
Due: prettier --check, eslint

fix: render markdown in debate/legal views, fix JSON parsing and SCOTUS feed
  components/analysis/DebateView.tsx
  components/analysis/LegalAnalysis.tsx
  components/ui/Markdown.tsx
  drizzle/0006_fix_documents_url_constraint.sql
  drizzle/meta/_journal.json
  lib/data/categories.ts
  lib/data/fallback-sources.ts
  lib/services/debate-service.ts
  lib/services/legal-analysis-service.ts
Due: prettier --check, eslint

feat: add snapshot-based assessment system — move AI calls to server-side cron
  components/dashboard/CategoryCard.tsx
  components/dashboard/EnhancedAssessment.tsx
  components/disclosure/Layer4.tsx
  components/disclosure/ProgressiveDisclosure.tsx
  lib/cron/catchup-snapshots.ts
  lib/cron/seed-snapshots.ts
  lib/cron/snapshot.ts
  lib/data/categories.ts
  lib/data/fallback-sources.ts
  lib/services/ai-assessment-service.ts
  lib/services/deep-analysis.ts
  lib/services/feed-fetcher.ts
  lib/services/snapshot-store.ts
  lib/utils/date-utils.ts
  package.json
  pages/api/snapshots/latest.ts
  render.yaml
Due: prettier --check, eslint

fix: resolve opengrep no-raw-external-fetch finding, add to pre-commit hook
  .husky/pre-commit
  .opengrep/security.yml
  lib/services/intent-data-service.ts
Due: prettier --check, eslint

fix: parallelize CI jobs and fix opengrep installation
  .github/workflows/ci.yml
Due: prettier --check

fix: download opengrep binary directly instead of using install script
  .github/workflows/ci.yml
Due: prettier --check

test: add snapshot system tests, new opengrep architecture rules
  .opengrep/security.yml
  __tests__/lib/services/deep-analysis.test.ts
  __tests__/lib/services/feed-fetcher.test.ts
  __tests__/lib/services/snapshot-store.test.ts
  lib/cron/weekly-clustering.ts
  vitest.config.ts
Due: prettier --check, eslint

refactor: rewrite tests to be behavioral, add test quality opengrep rules
  .opengrep/security.yml
  __tests__/lib/services/deep-analysis.test.ts
  __tests__/lib/services/feed-fetcher.test.ts
  __tests__/lib/services/snapshot-store.test.ts
  lib/services/snapshot-store.ts
  vitest.config.ts
Due: prettier --check, eslint

feat: add rhetoric sources (NPR, AP, Google News), wire intent pipeline into RAG
  .husky/pre-push
  lib/allowedHosts.ts
  lib/cron/catchup-snapshots.ts
  lib/cron/seed-snapshots.ts
  lib/cron/snapshot.ts
  lib/services/intent-data-service.ts
  lib/services/snapshot-store.ts
  pages/api/intent/assess.ts
  pages/api/intent/statements.ts
Due: prettier --check, eslint

refactor: rewrite demo seed as deterministic fixture generator
  CLAUDE.md
  lib/cron/catchup-snapshots.ts
  lib/cron/seed-demo-data.ts
  lib/cron/seed-snapshots.ts
  lib/demo/fixtures/assessments.ts
  lib/services/intent-snapshot-store.ts
  package.json
  pages/api/intent/assess.ts
Due: prettier --check, eslint

refactor: remove demo mode API-interception layer
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  components/dashboard/DashboardHeader.tsx
  dev-demo.sh
  lib/demo/fixtures/ai.ts
  lib/demo/fixtures/feeds.ts
  lib/demo/fixtures/intent.ts
  lib/demo/fixtures/uptime.ts
  lib/demo/index.ts
  pages/api/ai/assess.ts
  pages/api/ai/daily-digest.ts
  pages/api/ai/debate.ts
  pages/api/ai/legal-analysis.ts
  pages/api/ai/trends.ts
  pages/api/assess-status.ts
  pages/api/digest/[date].ts
  pages/api/federal-register.ts
  pages/api/intent/statements.ts
  pages/api/proxy.ts
  pages/api/scrape-tracker.ts
  pages/api/uptime/check.ts
  pages/api/uptime/status.ts
Due: prettier --check, eslint

feat: add AI intent assessment service, wire into snapshot pipeline
  TODO.md
  __tests__/lib/ai/schemas/intent-response.test.ts
  __tests__/lib/services/ai-intent-service.test.ts
  __tests__/lib/services/document-retriever.test.ts
  lib/ai/prompts/intent-classification.ts
  lib/ai/schemas/intent-response.ts
  lib/cron/snapshot.ts
  lib/services/ai-assessment-service.ts
  lib/services/ai-intent-service.ts
  lib/services/document-retriever.ts
  lib/services/legal-analysis-service.ts
  lib/types/intent.ts
Due: prettier --check, eslint

chore: gitignore tsbuildinfo
  .gitignore
Due: none

chore: add sql.raw opengrep rule and knip for dead code detection
  .opengrep/security.yml
  CLAUDE.md
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint

fix: resolve sql.raw injection risk, remove dead code, add JSONB validation and catch logging
  components/analysis/DailyDigest.tsx
  components/dashboard/SourceBadge.tsx
  components/disclosure/Layer1.tsx
  components/resilience/SuppressionAlert.tsx
  components/ui/CounterEvidence.tsx
  components/ui/EvidenceBalance.tsx
  lib/ai/schemas/snapshot-validation.ts
  lib/cache/index.ts
  lib/data/expected-reports.ts
  lib/data/fallback-sources.ts
  lib/hooks/useAutoRefresh.ts
  lib/parsers/whitehouse-parser.ts
  lib/services/ai-assessment-service.ts
  lib/services/ai-intent-service.ts
  lib/services/deep-analysis.ts
  lib/services/document-retriever.ts
  lib/services/fallback-pipeline.ts
  lib/services/feed-fetcher.ts
  lib/services/intent-snapshot-store.ts
  lib/services/snapshot-store.ts
  lib/services/suppression-detection.ts
  lib/types/index.ts
  lib/types/resilience.ts
  lib/utils/keyword-match.ts
Due: prettier --check, eslint

docs: mark 3 rhetoric source TODOs as done
  TODO.md
Due: prettier --check

feat: expand intent keyword dictionaries across all 5 policy areas
  TODO.md
  lib/data/intent-keywords.ts
Due: prettier --check, eslint

feat: add per-document scoring foundation with suppression rules
  __tests__/fixtures/scoring/false-positives.ts
  __tests__/fixtures/scoring/true-positives.ts
  __tests__/lib/data/suppression-rules.test.ts
  __tests__/lib/services/document-scorer.test.ts
  drizzle/0007_document_scores.sql
  lib/cron/backfill.ts
  lib/cron/recompute-scores.ts
  lib/cron/snapshot.ts
  lib/data/infrastructure-keywords.ts
  lib/data/keyword-domains.ts
  lib/data/suppression-rules.ts
  lib/db/schema.ts
  lib/methodology/scoring-config.ts
  lib/services/document-scorer.ts
  lib/services/infrastructure-analysis.ts
  lib/types/index.ts
  lib/types/infrastructure.ts
  lib/types/scoring.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint

docs: mark Sprint 1 sections as DONE in V3 specification
  V3 SPECIFICATION.md
Due: prettier --check

feat: add elections/mediaFreedom categories, history page, infrastructure overlay, and rhetoric fetcher
  DESIGN_REVIEW.md
  V2 SPECIFICATION.md
  __tests__/lib/data/categories.test.ts
  components/ExecutivePowerDriftDashboard.tsx
  components/history/CategoryTimeline.tsx
  components/history/HistorySection.tsx
  components/history/TrajectoryChart.tsx
  components/infrastructure/InfrastructureOverview.tsx
  components/infrastructure/InfrastructureSection.tsx
  components/infrastructure/InfrastructureThemeCard.tsx
  lib/data/assessment-rules.ts
  lib/data/categories.ts
  lib/services/document-store.ts
  lib/services/feed-fetcher.ts
  lib/services/rhetoric-fetcher.ts
  lib/services/snapshot-store.ts
  pages/api/history/convergence.ts
  pages/api/history/documents.ts
  pages/api/history/summary.ts
  pages/api/history/trajectory.ts
  pages/history.tsx
Due: prettier --check, eslint

feat: add weekly aggregation, cumulative scoring, baselines, and semantic drift
  __tests__/lib/services/baseline-service.test.ts
  __tests__/lib/services/cumulative-scoring.test.ts
  __tests__/lib/services/semantic-drift-service.test.ts
  __tests__/lib/services/weekly-aggregator.test.ts
  drizzle/0008_weekly_aggregates.sql
  lib/cron/backfill-baseline.ts
  lib/cron/backfill.ts
  lib/cron/recompute-scores.ts
  lib/cron/snapshot.ts
  lib/db/schema.ts
  lib/methodology/scoring-config.ts
  lib/services/baseline-service.ts
  lib/services/cumulative-scoring.ts
  lib/services/semantic-drift-service.ts
  lib/services/weekly-aggregator.ts
  package.json
  pages/api/history/cumulative.ts
  pages/api/history/drift.ts
  pages/api/history/weekly-scores.ts
  vitest.config.ts
Due: prettier --check, eslint

fix: resolve opengrep findings in Sprint 2 tests
  __tests__/lib/services/baseline-service.test.ts
  __tests__/lib/services/semantic-drift-service.test.ts
  __tests__/lib/services/weekly-aggregator.test.ts
  vitest.config.ts
Due: prettier --check, eslint

feat: redesign AI assessment as skeptic reviewer with review queue
  V3 SPECIFICATION.md
  __tests__/lib/ai/schemas/skeptic-response.test.ts
  __tests__/lib/services/deep-analysis.test.ts
  __tests__/lib/services/status-ordering.test.ts
  lib/ai/prompts/skeptic-review.ts
  lib/ai/schemas/assessment-response.ts
  lib/ai/schemas/snapshot-validation.ts
  lib/services/ai-assessment-service.ts
  lib/services/deep-analysis.ts
  lib/services/review-queue.ts
  lib/services/status-ordering.ts
  pages/api/reviews.ts
Due: prettier --check, eslint

refactor: extract types, deduplicate helpers, improve testability
  __tests__/lib/services/deep-analysis.test.ts
  __tests__/lib/services/snapshot-store.test.ts
  components/infrastructure/InfrastructureSection.tsx
  lib/ai/prompts/assessment.ts
  lib/ai/prompts/format-items.ts
  lib/ai/prompts/skeptic-review.ts
  lib/cron/backfill.ts
  lib/cron/seed-demo-data.ts
  lib/demo/fixtures/assessments.ts
  lib/services/ai-assessment-service.ts
  lib/services/deep-analysis.ts
  lib/services/evidence-balance.ts
  lib/services/infrastructure-analysis.ts
  lib/services/review-queue.ts
  lib/services/snapshot-store.ts
  lib/types/enhanced-assessment.ts
  lib/types/index.ts
  pages/api/reviews.ts
Due: prettier --check, eslint

refactor: deduplicate Sprint 1+2 code and add no-silent-catch opengrep rule
  .opengrep/security.yml
  __tests__/lib/services/baseline-service.test.ts
  __tests__/lib/services/semantic-drift-service.test.ts
  lib/data/authority-sources.ts
  lib/data/baselines.ts
  lib/methodology/scoring-config.ts
  lib/services/assessment-service.ts
  lib/services/baseline-service.ts
  lib/services/document-scorer.ts
  lib/services/embedding-service.ts
  lib/services/intent-data-service.ts
  lib/services/semantic-drift-service.ts
  lib/services/weekly-aggregator.ts
  lib/utils/math.ts
Due: prettier --check, eslint

docs: add post-sprint code review checklist to CLAUDE.md
  CLAUDE.md
Due: prettier --check

feat: Sprint 4 — multiplicative convergence scoring and backtest framework
  V3 SPECIFICATION.md
  __tests__/lib/services/infrastructure-analysis.test.ts
  __tests__/lib/validation/historical-backtest.test.ts
  components/infrastructure/InfrastructureOverview.tsx
  lib/cron/run-backtest.ts
  lib/methodology/scoring-config.ts
  lib/services/infrastructure-analysis.ts
  lib/types/infrastructure.ts
  lib/validation/historical-backtest.ts
  lib/validation/known-events.ts
  package.json
  pages/api/history/convergence.ts
Due: prettier --check, eslint

feat: Sprint 5 — OSS launch prep with transparency and export layer
  V3 SPECIFICATION.md
  __tests__/lib/data/category-maturity.test.ts
  __tests__/lib/methodology/scoring-config.test.ts
  __tests__/lib/services/explanation-service.test.ts
  __tests__/lib/utils/csv.test.ts
  __tests__/lib/utils/rate-limit.test.ts
  components/dashboard/CategoryCard.tsx
  components/disclosure/Layer5.tsx
  components/disclosure/ProgressiveDisclosure.tsx
  components/ui/MaturityBadge.tsx
  lib/data/category-maturity.ts
  lib/methodology/scoring-config.ts
  lib/services/confidence-scoring.ts
  lib/services/document-scorer.ts
  lib/services/explanation-service.ts
  lib/types/explanation.ts
  lib/types/index.ts
  lib/utils/csv.ts
  lib/utils/rate-limit.ts
  pages/api/explain/document.ts
  pages/api/explain/week.ts
  pages/api/export/methodology.ts
  pages/api/export/scores.ts
  pages/api/export/weekly.ts
  vitest.config.ts
Due: prettier --check, eslint

docs: mark Sprint 5 as DONE in V3 SPECIFICATION.md
  V3 SPECIFICATION.md
Due: prettier --check

feat: Sprint 6 — rhetoric lag analysis, P2025 pipeline, and expanded keywords
  V3 SPECIFICATION.md
  __tests__/lib/data/p2025/seed-proposals.test.ts
  __tests__/lib/services/intent-weekly-aggregator.test.ts
  __tests__/lib/services/lag-analysis-service.test.ts
  __tests__/lib/services/p2025-matcher.test.ts
  drizzle/0009_intent_weekly.sql
  drizzle/0010_p2025.sql
  lib/ai/prompts/p2025-judge.ts
  lib/cron/backfill.ts
  lib/cron/snapshot.ts
  lib/data/assessment-rules.ts
  lib/data/p2025/seed-proposals.ts
  lib/data/p2025/seed.ts
  lib/data/suppression-rules.ts
  lib/db/schema.ts
  lib/services/intent-weekly-aggregator.ts
  lib/services/lag-analysis-service.ts
  lib/services/p2025-dashboard-service.ts
  lib/services/p2025-matcher.ts
  lib/types/index.ts
  lib/types/intent.ts
  lib/types/p2025.ts
  pages/api/intent/lag-analysis.ts
  pages/api/p2025/[id].ts
  pages/api/p2025/proposals.ts
  pages/api/p2025/summary.ts
Due: prettier --check, eslint

refactor: Sprint 6 code review fixes — DRY, naming, clean code, test quality
  CLAUDE.md
  __tests__/lib/services/intent-weekly-aggregator.test.ts
  lib/ai/prompts/p2025-judge.ts
  lib/demo/fixtures/intent.ts
  lib/services/intent-service.ts
  lib/services/intent-weekly-aggregator.ts
  lib/services/lag-analysis-service.ts
  lib/services/p2025-dashboard-service.ts
  lib/services/p2025-matcher.ts
  lib/types/index.ts
  lib/types/intent.ts
Due: prettier --check, eslint
