Repository agile-explorations/democracy-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings 0

feat: GAO reports ingest via Wayback replay (#739)
  __tests__/fixtures/gao/product-2017.html
  __tests__/fixtures/gao/product-2026.html
  __tests__/lib/cron/backfill-fetchers.test.ts
  __tests__/lib/data/categories.test.ts
  __tests__/lib/services/gao-parsers.test.ts
  __tests__/lib/services/incremental-fetcher.test.ts
  __tests__/lib/services/research-prompts.test.ts
  lib/cron/backfill-fetchers.ts
  lib/cron/backfill-gao.ts
  lib/cron/backfill.ts
  lib/data/categories.ts
  lib/data/document-tiers.ts
  lib/data/robots-registry.ts
  lib/data/source-coverage-manifest.ts
  lib/services/dhs-press-archive.ts
  lib/services/fetch-log-store.ts
  lib/services/gao-fetcher.ts
  lib/services/gao-parsers.ts
  lib/services/incremental-fetcher.ts
  lib/services/ingest-validation-queries.ts
  lib/services/wayback-cdx.ts
  lib/types/categories.ts
  package.json
  vitest.config.ts
Due: prettier --check, eslint --max-warnings 0

fix: gao dry-run sample parse reused a bogus 2000-2099 range (#739)
  lib/cron/backfill-gao.ts
  lib/services/gao-fetcher.ts
Due: prettier --check, eslint --max-warnings 0

fix: strip 'U.S. GAO -' branding from og:title too (#739)
  lib/services/gao-parsers.ts
Due: prettier --check, eslint --max-warnings 0

fix: register gao in ACTIVE_SOURCES (#739)
  lib/data/analysis-periods.ts
Due: prettier --check, eslint --max-warnings 0

chore: bump version to 1.15.0 + R-GAO Phase A retrospective
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  package.json
Due: prettier --check

chore: prettierignore GAO html fixtures (real-world malformed markup)
  .prettierignore
Due: none

feat: GAO baseline backfill complete — retroactive instrument entry (#739 Phase B)
  docs/DECISIONS.md
  lib/data/instrument-changes.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

feat: bounded per-arm slot guarantees + widened cross-era salience selection (#762)
  __tests__/lib/services/hot-entity-ranking.test.ts
  __tests__/lib/services/hot-entity-selection.test.ts
  __tests__/lib/services/research-loop-retrieval.test.ts
  lib/services/hot-entity-ranking.ts
  lib/services/hot-entity-selection.ts
  lib/services/research-doc-retrieval.ts
  lib/services/research-loop-retrieval.ts
Due: prettier --check, eslint --max-warnings 0

feat: statute-aware ENUM mining config for enumeration builds (#763)
  __tests__/lib/services/entity-extraction.test.ts
  lib/services/entity-extraction.ts
  lib/services/entity-mining.ts
  lib/services/research-doc-retrieval.ts
  lib/services/research-loop-retrieval.ts
  lib/services/search-service.ts
Due: prettier --check, eslint --max-warnings 0

feat: enumeration synthesis coverage + mode-derived expansion cap (#763)
  __tests__/lib/services/query-expansion-service.test.ts
  __tests__/lib/services/research-prompts.test.ts
  lib/services/query-expansion-service.ts
  lib/services/question-classifier.ts
  lib/services/research-loop-retrieval.ts
  lib/services/research-prompts.ts
  lib/services/research-synthesis-service.ts
Due: prettier --check, eslint --max-warnings 0

fix: bound arm roster to slot-justified width (#762)
  lib/services/research-loop-retrieval.ts
Due: prettier --check, eslint --max-warnings 0

perf: revert era-window arm extras — reserve too small to justify cost (#762)
  lib/services/research-doc-retrieval.ts
Due: prettier --check, eslint --max-warnings 0

perf: option-1 trim — drop R5 expansion width, trim enum mining validation (#763)
  __tests__/lib/services/entity-extraction.test.ts
  lib/services/entity-extraction.ts
  lib/services/query-expansion-service.ts
Due: prettier --check, eslint --max-warnings 0

chore: bump version to 1.16.0 + R-SLOTS retrospective
  docs/DECISIONS.md
  package.json
Due: prettier --check

test: cover synthesisMaxTokens; exclude test-chain-dragged I/O modules from coverage
  __tests__/lib/services/research-synthesis-service.test.ts
  lib/services/research-synthesis-service.ts
  vitest.config.ts
Due: prettier --check, eslint --max-warnings 0

docs: R-SLOTS sprint log + coverage-denominator lesson
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

feat: union-of-two-draws expansion + breadth-ranked top-up (#773, #774)
  __tests__/lib/services/hot-entity-selection.test.ts
  __tests__/lib/services/query-expansion-diagnostic.test.ts
  __tests__/lib/services/query-expansion-service.test.ts
  lib/services/hot-entity-selection.ts
  lib/services/query-expansion-service.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

feat: question-conditioned nomination channel + class stratification + judge bias correction (#775, #776)
  __tests__/lib/services/hot-entity-selection.test.ts
  lib/services/hot-entity-judge.ts
  lib/services/hot-entity-selection.ts
Due: prettier --check, eslint --max-warnings 0

fix: LIMIT-bound the question-channel FTS aggregation (#776)
  lib/services/hot-entity-selection.ts
Due: prettier --check, eslint --max-warnings 0

chore: bump version to 1.16.2
  package.json
Due: prettier --check

fix: discovery guards (surname match, docket-number dedup) + snapshot heap bump (#777)
  __tests__/lib/services/docket-discovery.test.ts
  lib/services/docket-discovery.ts
  render.yaml
Due: prettier --check, eslint --max-warnings 0

docs: recess composition effect on blended flag rates (PROJECT_KNOWLEDGE)
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

fix: isolate /api/health/live on a dedicated single-connection pool
  __tests__/pages/api/health/live.test.ts
  lib/db/index.ts
  package.json
  pages/api/health/live.ts
Due: prettier --check, eslint --max-warnings 0

fix: bound retrieval query fan-out + retry statement timeouts + degraded-build visibility (#778)
  __tests__/lib/services/arm-cache.test.ts
  lib/services/alias-count-cache.ts
  lib/services/arm-cache.ts
  lib/services/query-expansion-service.ts
  lib/services/search-docs-response.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

fix(eval): harness transport hardening from gate run 1
  scripts/eval-completeness.ts
Due: prettier --check, eslint --max-warnings 0

fix: three stacked salience-admission defects behind the IM3 gate miss (#776)
  __tests__/lib/services/research-loop-retrieval.test.ts
  lib/services/hot-entity-judge.ts
  lib/services/hot-entity-ranking.ts
  lib/services/hot-entity-selection.ts
  lib/services/hot-entity-trace.ts
  lib/services/research-loop-retrieval.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

fix(eval): 202 must be checked before res.ok + 20-min coalescing patience
  scripts/eval-completeness.ts
Due: prettier --check, eslint --max-warnings 0

docs: R-DRAWS + R-ADMIT + incident-day retrospective; gate-pass sprint log; silent-failure lessons
  docs/DECISIONS-ARCHIVE.md
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

fix: render.yaml declares the real DB plan (basic-4gb) + validate:infra drift guard (#780)
  package.json
  render.yaml
  scripts/validate-infra.ts
Due: prettier --check, eslint --max-warnings 0

feat: R-LOAD WP1+WP2 — stage attribution + incident hardening residuals (#780)
  __tests__/lib/services/search-build-slots.test.ts
  lib/db/index.ts
  lib/services/research-doc-retrieval.ts
  lib/services/research-loop-retrieval.ts
  lib/services/search-docs-response.ts
  package.json
  scripts/db-pull-prod.sh
Due: prettier --check, eslint --max-warnings 0

feat: seed-sweep internal stage attribution + SRP extractions (#780 WP1b)
  lib/services/arm-slot-compose.ts
  lib/services/research-loop-retrieval.ts
  lib/services/search-research-tiers.ts
  lib/services/search-service.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

feat: R-LOAD WP3 — load-test harness (scripts/loadtest, #781)
  __tests__/scripts/loadtest/harness.test.ts
  package.json
  scripts/loadtest/README.md
  scripts/loadtest/client.ts
  scripts/loadtest/collect.ts
  scripts/loadtest/guard.ts
  scripts/loadtest/profiles.ts
  scripts/loadtest/questions.json
  scripts/loadtest/reports/.gitkeep
  scripts/loadtest/reset-caches.ts
  scripts/loadtest/runner.ts
  vitest.config.ts
Due: prettier --check, eslint --max-warnings 0

docs: infrastructure-truth lesson from the Blueprint-downgrade discovery (#782)
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

fix: redact credentials in db-pull-prod.sh output (#780)
  scripts/db-pull-prod.sh
Due: none

docs(loadtest): internal Render job is the default dev-restore path (#781)
  scripts/loadtest/README.md
Due: prettier --check

feat: prose overview lead for enumeration answers (Fixes #784)
  __tests__/lib/services/research-prompts.test.ts
  lib/services/question-classifier.ts
  lib/services/research-prompts.ts
Due: prettier --check, eslint --max-warnings 0

docs(loadtest): dev-restore job needs NEXT_PUBLIC_SITE_URL override (#785)
  scripts/loadtest/README.md
Due: prettier --check

chore: bump version to 1.16.8
  package.json
Due: prettier --check

feat(loadtest): rl-neutralizing runner + Round A basic-4gb reports (#781, #779)
  scripts/loadtest/README.md
  scripts/loadtest/client.ts
  scripts/loadtest/reports/2026-08-26-p0-db-basic4gb-analytical30.json
  scripts/loadtest/reports/2026-08-26-p0-db-basic4gb.json
  scripts/loadtest/reports/2026-08-26-p1-db-basic4gb.json
  scripts/loadtest/reports/2026-08-26-p2-db-basic4gb.json
  scripts/loadtest/reports/2026-08-26-p3-db-basic4gb.json
  scripts/loadtest/runner.ts
Due: prettier --check, eslint --max-warnings 0

chore(bench): validation-count bench harness; WO-1 batched-SQL refuted (#782)
  package.json
  scripts/validation-count-bench.ts
Due: prettier --check, eslint --max-warnings 0

Path conditions:
  prettier --check: (any of: *.{ts,tsx}) or (any of: *.{js,json,md,css,yml,yaml})
  eslint --max-warnings 0: any of: *.{ts,tsx}
