Repository agile-explorations/democracy-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings 0

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --check", "eslint --max-warnings 0"],
  "*.{js,json,md,css,yml,yaml}": ["prettier --check"]
}

refactor: retry-narratives CLI delegates to retryFailedNarratives()
  lib/cron/retry-narratives.ts
  lib/cron/snapshot.ts
  lib/services/narrative-pipeline.ts
Due: prettier --check, eslint --max-warnings 0

docs: sprint R-CRON retrospective + archive old DECISIONS.md entries
  CLAUDE.md
  docs/DECISIONS-ARCHIVE.md
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

chore: improve dev tooling and streamline sprint process
  .github/workflows/ci.yml
  .lintstagedrc.json
  CLAUDE.md
  docs/PROJECT_KNOWLEDGE.md
  docs/ROADMAP.md
Due: prettier --check

fix: null-safe url access in backfillCrec
  lib/cron/backfill-content.ts
Due: prettier --check, eslint --max-warnings 0

docs: add standing constraints, sprint tracking, and diagnostic step
  CLAUDE.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

docs: add file read guidance for 1M context sessions
  CLAUDE.md
Due: prettier --check

fix: --fresh delete used NULL document_id, deleted zero rows
  lib/cron/backfill-document-review.ts
Due: prettier --check, eslint --max-warnings 0

feat: routing:reapply script to insert new category rows for CPD/CREC
  lib/cron/routing-reapply.ts
  package.json
Due: prettier --check, eslint --max-warnings 0

fix: embedding batch fallback didn't match max_tokens_per_request error
  lib/services/embedding-service.ts
Due: prettier --check, eslint --max-warnings 0

fix: reduce embedding char limit to 24K for reliable tokenization
  lib/services/document-embedder.ts
Due: prettier --check, eslint --max-warnings 0

fix: embedding truncation retries with progressively shorter text
  lib/services/document-embedder.ts
Due: prettier --check, eslint --max-warnings 0

fix: quieter embedding logs and smaller batch size for large documents
  lib/services/document-embedder.ts
  lib/services/embedding-service.ts
Due: prettier --check, eslint --max-warnings 0

docs: R-CONTENT retrospective + roadmap updates + sprint arc
  FUTURE_ROADMAP.md
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

docs: roadmap reorder + sprint arc update
  FUTURE_ROADMAP.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

feat: P1 calibration — tighten descriptions, NC-1 minimum sample size
  lib/data/categories.ts
  lib/services/event-validation-checks.ts
  lib/services/event-validation-queries.ts
Due: prettier --check, eslint --max-warnings 0

feat: reframe NC-5 as baseline calibration check
  __tests__/lib/services/event-validation-service.test.ts
  lib/services/event-validation-checks.ts
  lib/services/event-validation-queries.ts
  lib/services/event-validation-service.ts
Due: prettier --check, eslint --max-warnings 0

feat: recalibrate NC-2 and NC-3 thresholds after R-CONTENT
  __tests__/lib/services/event-validation-service.test.ts
  lib/services/event-validation-checks.ts
Due: prettier --check, eslint --max-warnings 0

feat: raise NC-3 high-volume threshold 8% → 12%
  __tests__/lib/services/event-validation-service.test.ts
  lib/services/event-validation-checks.ts
Due: prettier --check, eslint --max-warnings 0

docs: R-CALIBRATE retrospective — 6/6 NCs, 39/39 detection
  docs/DECISIONS.md
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

fix: apply boilerplate stripping to narrative content excerpts
  lib/services/narrative-queries.ts
Due: prettier --check, eslint --max-warnings 0

fix: log actual error message for non-token embedding batch failures
  lib/services/embedding-service.ts
Due: prettier --check, eslint --max-warnings 0

fix: broaden token limit error detection for embedding batch failures
  lib/services/embedding-service.ts
Due: prettier --check, eslint --max-warnings 0

feat: greedy token-budget batching for embeddings
  lib/services/document-embedder.ts
Due: prettier --check, eslint --max-warnings 0

feat: demote L1/L3 metrics in narratives, add --clean flag for regeneration
  __tests__/lib/services/narrative-prompts.test.ts
  lib/cron/enrich-weekly-scores.ts
  lib/services/narrative-format-helpers.ts
Due: prettier --check, eslint --max-warnings 0

feat: show comparison chart by default, demote L1/L3 in narratives, add --clean
  __tests__/components/overview/SynchronyChart.test.tsx
  components/overview/SynchronyChart.tsx
Due: prettier --check, eslint --max-warnings 0

feat: drift labels on heatmap hover, comparison chart defaults on
  components/data/HeatmapTooltip.tsx
  components/data/ThematicHeatmap.tsx
  pages/api/data/thematic-detail.ts
Due: prettier --check, eslint --max-warnings 0

docs: add R-DOCS and R-DEV-WORKFLOW sprints to arc
  docs/PROJECT_KNOWLEDGE.md
Due: prettier --check

docs: methodology audit — fix 10 inaccuracies from R-CONTENT/R-CALIBRATE
  ASSESSMENT_METHODOLOGY.md
  CLAUDE.md
  README.md
  pages/system/architecture.tsx
  pages/system/methodology.tsx
Due: prettier --check, eslint --max-warnings 0

feat: add backtest results to system health page
  components/system/ValidationReports.tsx
  pages/api/health/backtest.ts
  pages/system/health.tsx
Due: prettier --check, eslint --max-warnings 0

feat: embeddable overview chart with share button
  components/overview/EmbedButton.tsx
  pages/embed/overview.tsx
  pages/index.tsx
Due: prettier --check, eslint --max-warnings 0

fix: move embed button to chart title, more visible styling
  components/overview/EmbedButton.tsx
  pages/index.tsx
Due: prettier --check, eslint --max-warnings 0

fix: trend line uses status scale (0/1/2) instead of layersElevated (0/1)
  components/category/CategoryStatusChart.tsx
Due: prettier --check, eslint --max-warnings 0

feat: remove Divergent status from UI, change scoring to Elevated=1 Confirmed=2
  __tests__/components/overview/OverviewStatusSummary.test.tsx
  __tests__/components/overview/SynchronyChart.test.tsx
  __tests__/lib/services/overview-service.test.ts
  components/overview/OverviewStatusSummary.tsx
  components/overview/StatusTimeline.tsx
  components/overview/SynchronyChart.tsx
  components/overview/SynchronyChartParts.tsx
  docs/internal/sample-narratives-review.md
  lib/services/overview-service.ts
  lib/types/overview.ts
  pages/category/[key]/index.tsx
  pages/category/[key]/week/[date].tsx
  pages/index.tsx
  pages/system/methodology.tsx
  pages/weekly/[date].tsx
Due: prettier --check, eslint --max-warnings 0

fix: remove divergentWeighted tooltip reference that broke production build
  components/overview/SynchronyChartParts.tsx
Due: prettier --check, eslint --max-warnings 0

chore: add tsc --noEmit to pre-commit hook
  .husky/pre-commit
Due: none

fix: exclude embeddings from DB dump to stay under GitHub 2GB limit
  DEPLOYMENT.md
  lib/db/init.ts
  scripts/dump-db.sh
  scripts/weekly-dump.sh
Due: prettier --check, eslint --max-warnings 0

feat: split DB dump into two assets — main data + embeddings
  DEPLOYMENT.md
  lib/db/init.ts
  scripts/dump-db.sh
  scripts/weekly-dump.sh
Due: prettier --check, eslint --max-warnings 0

fix: use heredoc for psql in weekly-dump to avoid bash quoting issues
  scripts/weekly-dump.sh
Due: none

perf: skip corpus stats for docsOnly research queries
  pages/api/search/index.ts
Due: prettier --check, eslint --max-warnings 0
